:Teams
7
:Team
1 0 0
:TeamName
U.S.
:TeamFlag
1
:Team
2 25 25
:TeamName
ROK
:TeamFlag
2
:Team
3 0 0
:TeamName
Japan
:TeamFlag
3
:Team
4 0 0
:TeamName
Russia
:TeamFlag
4
:Team
5 0 0
:TeamName
PRC
:TeamFlag
5
:Team
6 0 0
:TeamName
DPRK
:TeamFlag
6
:Team
7 0 0
:TeamName
NATO
:TeamFlag
7
